extends layout
block append head
    link(rel='stylesheet', href='/css/modules.css')
    title #{module["allgemein"]["name"]}
block content
    header
        h1 #{module["allgemein"]["ganzer_name"]}
    main
        .small_block
            center
                h4 Formale Angaben zum Modul
            hr
            ul
                li
                    u Modulnummer:
                    br
                    | #{module["allgemein"]["modulnummer"]}
                li
                    u Verortung im Studienverlauf:
                    br
                    | #{module["allgemein"]["semester"]}. Studienjahr
                li
                    u Moduldauer (Semester):
                    br
                    | #{module["allgemein"]["moduldauer"]}
                li
                    u Modulverantwortung:
                    br
                    | #{module["allgemein"]["modulverantwortung"]}
                li
                    u Sprache:
                    br
                    | #{module["allgemein"]["sprachen"]}
        .small_block
            center
                h4 Eingesetzte Lehrformen
            hr
            ul
                li
                    u Lehrformen:
                    br
                    | #{module["allgemein"]["lehrformen"]}
                li
                    u Lehrmethoden:
                    br
                    | #{module["allgemein"]["lehrmethoden"]}
        .small_block
            center
                h4 Eingesetzte Prüfungsformen
            hr
            ul
                li
                    u Prüfungsleistung:
                    br
                    | #{module["pruefungsformen"]["pruefungsleistung"]}
                li
                    u Pr&uuml;fungsumfang (in Minuten):
                    br
                    | #{module["pruefungsformen"]["pruefungsumfang"]}
                li
                    u Benotung:
                    br
                    | #{module["pruefungsformen"]["benotung"]}
        .small_block
            center
                h4 Workload und ECTS-Leistungspunkte
            hr
            ul
                li
                    u Workload insgesamt (in h):
                    br
                    | #{module["workload"]["total"]}
                li
                    u Davon Präsenzzeit (in h):
                    br
                    | #{module["workload"]["praesenz"]}
                li
                    u Davon Selbststudium (in h):
                    br
                    | #{module["workload"]["selbststudium"]}
                li
                    u ECTS-Leistungspunkte:
                    br
                    | #{module["workload"]["ects"]}
        #img_container_bwl1.middle_block
        .big_block
            center
                h4 Qualifikationsziele und Kompetenzen
            hr
            ul
                li
                    u Fachkompetenz:
                    br
                    | #{module["qualifikationsziele"]["fachkompetenz"]}
                li
                    u Methodenkompetenz:
                    br
                    | #{module["qualifikationsziele"]["methodenkompetenz"]}
                li
                    u Personale und soziale Kompetenz:
                    br
                    | #{module["qualifikationsziele"]["sozialkompetenz"]}
                li
                    u Übergreifende Handlungskompetenz:
                    br
                    | #{module["qualifikationsziele"]["handlungskompetenz"]}
        .big_block
            center
                h4 Lerneinheiten und Inhalte
            each lerninhalt in module["lerninhalte"]
                hr
                ul
                    li
                        u Lehr- und Lerneinheit:
                        br
                        | #{lerninhalt["einheit"]}
                    li
                        u Präsenzzeit:
                        br
                        | #{lerninhalt["praesenzzeit"]}
                    li
                        u Selbststudium:
                        br
                        | #{lerninhalt["selbststudium"]}
                    li
                        u Inhalte:
                        ul
                            each val in lerninhalt["inhalte"]
                                li= val
        if module["besonderheiten"] !== undefined
            .big_block
                center
                    h4 Besonderheiten
                hr
                each besonderheit in module["besonderheiten"]
                    if !besonderheit["content"].length > 1
                        center
                            h4= besonderheit["name"]
                    ul
                    each val2 in besonderheit["content"]
                        if besonderheit["content"].length > 1
                            li= val2
                        else
                            | #{val2}

        .small_block
            center
                h4 Vorraussetzungen
            hr
            | #{module["voraussetzungen"]}
        #img_container_bwl3.middle_block
        .big_block
            center
                h4 Literatur
            hr
            ul
                each val in module["literatur"]
                    li= val